*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heroContaine{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
}
.heroDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    width: 100%;
    
}
.heroImgs{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
.imgDiv{
    border: 2px solid black;
    padding:1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    /* border-radius: 50px; */
background: #e0e0e0;
box-shadow:  -20px 20px 60px #bebebe,
             20px -20px 60px #ffffff;
}